<ng-container *ngIf="change$ | async"></ng-container>

<span class="error-message-wrapper" *ngIf="computedError | async as errorToDisplay">
  <span class="icon-wrapper">
    	<mat-icon>info</mat-icon>
  </span>

  <span class="error-message">{{ errorToDisplay }}</span>
</span>
