<div class="overview">
  <div class="overview-header">
    <div class="overview-header__title">
      <h1>Welcome back</h1>

      <h3>Track, manage and forecast your platform</h3>
    </div>


    <button mat-raised-button color="primary" [routerLink]="['../', 'courses', 'add-course']">+Add Course</button>
  </div>

  <div class="overview-content">
    <mat-card>
      <mat-card-header>Total Students</mat-card-header>

      <mat-card-content> chart </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>Total Revenue</mat-card-header>

      <mat-card-content> chart </mat-card-content>
    </mat-card>
  </div>

</div>
