.overview {
  padding: calc(2 * var(--basic-offset)) var(--basic-offset);
  display: grid;
  gap: var(--basic-offset);

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
