:host {
  height: 100%;

  .auth-form__field {
    width: clamp(20vw, 400px, 45vw);
  }

  .auth-form__button {
    padding: 25px 40px;
    background-color: var(--primary);
    color: var(--primary-text);
  }
}

.auth {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .logo {
      max-width: 15vh;
    }

    .password-field {
      display: grid;
      grid-template-columns: 1fr 25px;
      gap: 5px;

      .hidden-icon {
        cursor: pointer;

        &:hover {
          color: var(--secondary);
        }
      }
    }
  }

  &-background {
    border-radius: var(--basic-offset) 0 0 var(--basic-offset);
    background-image: url('https://images.pexels.com/photos/4175070/pexels-photo-4175070.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  }
}
