<div [formGroup]="lessonForm">
  <div formArrayName="lessons">
    <div *ngFor="let lesson of lessonControls; let i = index" [formGroupName]="i" class="lesson-card" [ngClass]="{'active-lesson': i === activeIndex}">
      <div class="lesson-card-content">
        <div *ngIf="i !== activeIndex" class="lesson-card-title">{{ lesson.value.title }}</div>
        <div *ngIf="i !== activeIndex" class="lesson-card-cover">
          <img [src]="lesson.value.videoCover" alt="Video Cover">
        </div>

        <div *ngIf="i === activeIndex" class="lesson-card-title">
          <input type="text" formControlName="title" placeholder="Lesson Title">
        </div>
        <div *ngIf="i === activeIndex" class="lesson-card-cover">
          <input type="text" formControlName="videoCover" placeholder="Video Cover URL">
        </div>
      </div>
      <button type="button" (click)="removeLesson(i)" class="remove-lesson-button">Remove</button>
    </div>
  </div>
  <button type="button" (click)="addLesson()" class="add-lesson-button">Add New Lesson</button>
</div>
