<div class="auth">
  <div class="auth-form" [formGroup]="loginForm">
    <img
      class="logo"
      src="https://www.freeiconspng.com/thumbs/logo-design/logo-design-blank-circle-blue-and-orange-png-2.png"
      alt=""
    />

    <mat-form-field class="auth-form__field" appearance="outline">
      <mat-label>Name</mat-label>

      <input matInput type="text" formControlName="username" />

      <mat-error>
        <app-field-error formControlName="username"></app-field-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="auth-form__field" appearance="outline">
      <mat-label>Password</mat-label>

      <div class="password-field">
        <input matInput [type]="isHidden ? 'password' : 'text'" formControlName="password" />

        <mat-icon class="hidden-icon" [class.active-link]="!isHidden" (click)="isHidden = !isHidden">
          remove_red_eye
        </mat-icon>
      </div>

      <mat-error>
        <app-field-error formControlName="password"></app-field-error>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button class="auth-form__button" (click)="login()">Login</button>

    <p [routerLink]="['../sign-up']">
      Do not have account?
      <a class="active-link">Sign Up</a>
    </p>
  </div>

  <div class="auth-background"></div>
</div>
