:host {
  height: 100%;
  width: 100%;
}

.sidebar {
  background: var(--sidebar-bg);
  font-size: 18px;
  font-weight: 500;
  width: 250px;

  &__container {
    height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr 70px;

    .logo {
      margin: var(--basic-offset) auto;
    }

    .logout-button {
      margin: 0 20px;
      background-color: var(--sidebar-bg);
      color: var(--sidebar-text)
    }
  }

  &__menu {
    list-style-type: none;
    padding: 40px 0;
    color: var(--sidebar-text);

    &-item {
      text-decoration: none;

      .item-description {
        display: flex;
        padding: 15px 40px;
      }
    }
  }
}

.content {
  padding: 30px;
  background-color: var(--basic-white);
}

.active-link {
  color: var(--primary);
  border-right: 10px solid var(--primary);
}

.menu-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--primary);
}
