<mat-sidenav-container class="h-100">
  <mat-sidenav class="sidebar" mode="side" opened #sidenav>
    <div class="sidebar__container">
      <img
        class="logo"
        src="https://www.freeiconspng.com/thumbs/logo-design/logo-design-blank-circle-blue-and-orange-png-2.png"
        alt="logo"
        width="60"
        height="60"
      />

      <ul class="sidebar__menu">
        <li
          class="sidebar__menu-item"
          *ngFor="let item of menuItems"
          [routerLink]="[item.routerLink]"
          [routerLinkActive]="'active-link'"
        >
          <span class="item-description">
            <mat-icon class="mr-10">{{ item.icon }}</mat-icon>
            {{ item.title }}
          </span>
        </li>
      </ul>

      <button mat-flat-button class="logout-button" (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
        Sign out
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <button mat-icon-button class="menu-icon" (click)="sidenav.toggle()">
      <mat-icon>sort</mat-icon>
    </button>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
