<div class="user-profile" *appLet="user$ | async as user">
  <div class="flex-columns">
    <div class="user-profile__photo icon-wrapper">
      <img
        class="account-photo"
        [src]="user.providerData?.at(0)?.photoURL"
        alt="account profile"
        onerror="this.onerror=null; this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Windows_10_Default_Profile_Picture.svg/640px-Windows_10_Default_Profile_Picture.svg.png'"
      />
    </div>

    <app-file-uploader></app-file-uploader>
  </div>

  <div class="user-profile__form" [formGroup]="userForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>

      <input [readonly]="!isEditing" matInput type="text" formControlName="displayName" />

      <mat-error>
        <app-field-error formControlName="displayName"></app-field-error>
      </mat-error>
    </mat-form-field>

    <div class="flex-rows">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>

        <input [readonly]="!isEditing" matInput type="email" formControlName="email" />

        <mat-error>
          <app-field-error formControlName="email"></app-field-error>
        </mat-error>
      </mat-form-field>

      <button class="form-button" mat-raised-button color="primary" *ngIf="!user.emailVerified">Verify email</button>
    </div>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Phone</mat-label>

      <input [readonly]="!isEditing" matInput type="phone" formControlName="phoneNumber" />

      <mat-error>
        <app-field-error formControlName="phoneNumber"></app-field-error>
      </mat-error>
    </mat-form-field>

    <button *ngIf="!isEditing; else saveButton" mat-raised-button color="primary" (click)="changeEditingMode()">Edit</button>
    <ng-template #saveButton>
      <button mat-raised-button color="primary" [disabled]="!userForm.touched" (click)="save()">Save</button>
    </ng-template>
  </div>
</div>
