//:host {
//  ::ng-deep {
//    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
//    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
//    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
//      border-color: transparent;
//    }
//  }
//}

.user-profile {
  padding: var(--basic-offset);
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: var(--basic-offset);

  &__photo {
    width: 100px;
    height: 100px;
    background-color: var(--basic-grey);

    .account-photo {
      width: inherit;
    }
  }

  &__form {
    display: grid;
    max-width: 600px;
    gap: 15px;

    .form-field {
      width: 100%;
    }

    .form-button {
      white-space: nowrap;
    }
  }
}
