.header {
  color: var(--sidebar-text);
  padding: 20px;

  &-menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    .account-icon {
      width: 50px;
      height: 50px;
      background: var(--sidebar-text);
      color: var(--basic-white);
      cursor: pointer;
      font-size: 24px;
    }
  }
}
