<header class="header">
  <nav>
    <ul class="header-menu">
<!--      <li><mat-icon class="material-symbols-outlined" fontIcon="notifications"></mat-icon></li>-->
      <li [routerLink]="['profile']">
        <div class="account-icon icon-wrapper">
          {{ (user$ | async)?.username | getUserInitials }}
        </div>
      </li>
    </ul>
  </nav>
</header>
