@use 'src/styles/scrollbar' as scroll;

:host {
  height: 100%;
  display: flex;
  width: 100%;

  ::ng-deep {
    .mat-stepper-vertical,
    .mat-stepper-horizontal {
      width: 100%;
      padding: 20px;
      overflow: hidden;
    }

    .mat-horizontal-stepper-wrapper,
    .mat-horizontal-stepper-content {
      height: 100%;
    }

    .mat-horizontal-content-container {
      padding-top: 24px;
      height: 100%;
      overflow: unset;
    }
  }
}

.course-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.step {
  &-title {
    margin-bottom: 15px;
    font-size: 24px;
  }

  &-subtitle {
    margin-bottom: 20px;
    color: var(--sidebar-text);
    font-size: 18px;
    font-weight: 400;
  }

  &-form {
    display: flex;
    max-width: 600px;
  }

  &-card {
    @include scroll.scrollbar();
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    max-height: 40vh;

    &__wrapper {
      display: flex;
      flex-direction: row;
    }

    &__item {
      border: 1px solid var(--basic-grey);
      border-radius: var(--basic-radius);
      padding: calc(var(--basic-offset) / 3);
      display: flex;
      width: 100%;
      gap: 10px;
      margin-bottom: 15px;

      &__title {
      }
    }
  }

  &-actions {
    width: min-content;
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.navigation-button {
  display: flex;
  justify-content: space-between;
}
