<mat-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="titleFormGroup" label="Title & Description">
    <app-common-info-step></app-common-info-step>

    <div class="flex-end">
      <button mat-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="lessonsForm" label="Lesson">
    <app-lessons-step></app-lessons-step>

    <div class="navigation-button">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Reviewing & Publishing">
    <mat-card>
      <mat-card-content>

      </mat-card-content>
    </mat-card>

    <div class="course-details">
      <h4 class="course-field">Title:</h4>
      <p class="course-value">{{ titleFormGroup.value.title }}</p>

      <h4 class="course-field">Description:</h4>
      <p class="course-value">{{ titleFormGroup.value.description }}</p>

      <h4 class="course-field">Lessons:</h4>
      <ul class="lessons-list">
        <li *ngFor="let lesson of lessonsFormArray.controls" class="lesson-item">
          <h5 class="lesson-title">{{ lesson.value.title }}</h5>
          <p class="lesson-field">Video URL:</p>
          <p class="lesson-value">{{ lesson.value.videoUrl }}</p>
          <p class="lesson-field">Additional Materials:</p>
          <ul class="additional-materials-list">
            <li *ngFor="let material of lesson.value.additionalMaterials" class="material-item">
              {{ material }}
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="navigation-button">
      <button mat-button color="primary" (click)="publishCourse()">Publish Course</button>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
