:root {
  --sidebar-bg: #F6F8FB;
  --sidebar-text: #77797C;

  --primary: #6473F9;
  --secondary: #9ba6fb;

  --primary-text: #e3e6ff;

  --basic-grey: #ccc;
  --basic-white: #fff;

  --error: #d60b0b;

  --basic-offset: 40px;
  --basic-radius: 8px
}
