@mixin scrollbar($direction: vertical) {
  @if ($direction == 'vertical') {
    overflow-y: auto;
  }

  @if ($direction == 'horizontal') {
    overflow-x: auto;
  }

  @if ($direction == 'both') {
    overflow: auto;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px grey;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--basic-grey);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--sidebar-text);
  }
}
