<div>
  <h1 class="step-title">Title & Description</h1>

  <p class="step-subtitle">Give your course a name and description so it gives clarification to the students</p>


  <form class="course-form" [formGroup]="titleFormGroup">
    <div class="step-form">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>

        <input matInput placeholder="Course title" formControlName="title" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>

        <textarea matInput placeholder="Course description" formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
