<form class="course-form" [formGroup]="lessonsForm">
<!--  <h1 class="step-title">Lessons</h1>-->

<!--  <p class="step-subtitle">-->
<!--    Add lessons for the course you are creating. You can include a title, a description, and a public link to the video-->
<!--    lecture-->
<!--  </p>-->

  <div formArrayName="lessons">
    <div class="step-card">
      <div
        class="step-card__wrapper"
        *ngFor="let lesson of lessonsFormArray.controls; let i = index; let first = first; let last = last"
      >
        <div *ngIf="i !== activeIndex" class="step-card__item">
          <iframe width="224" height="125" [src]="lesson.value.videoUrl | safeHtml" frameborder="0"></iframe>

          <div>
            <h4 class="step-card__title">{{ lesson.value.title }}</h4>

            <p>{{ lesson.value.description }}</p>
          </div>
        </div>

        <div class="step-actions">
          <button *ngIf="i !== activeIndex" mat-icon-button  (click)="setActiveLesson(i)">
            <mat-icon>edit</mat-icon>
          </button>

          <button *ngIf="!first && !last" mat-icon-button (click)="removeLesson(i)">
            <mat-icon>restore_from_trash</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div>
      <ng-container *ngFor="let lesson of lessonsFormArray.controls; let i = index" [formGroupName]="i">
        <div class="step-form" *ngIf="i === activeIndex">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>

            <input matInput formControlName="title" placeholder="Lesson title" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>

            <textarea matInput formControlName="description" placeholder="Lesson description"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Video URL</mat-label>

            <input matInput formControlName="videoUrl" placeholder="Video URL" />
          </mat-form-field>
        </div>
      </ng-container>

      <button mat-raised-button color="primary" (click)="addNewLesson()">Add new lesson</button>
    </div>
  </div>
</form>
