<div class="courses">
  <h1 class="title">Your courses</h1>

  <div class="courses-list">
    <div
      class="course-card"
      *ngFor="let course of coursesList$ | async"
      [routerLink]="['course']"
      [queryParams]="{ courseId: course.id }"
    >
      <h3 class="course-card__title">
        {{ course.title | titlecase }}
      </h3>

      <div
        class="course-card__image"
        [style.background-image]="'url(' + course.coverImgSrc + ')'"
      ></div>
    </div>
  </div>
</div>


<!--of a chaperone-->
<!--infant-->
<!--diversity-->
<!--spine-->
<!--mildew-->
<!--tether-->
<!--leash-->
<!--temple-->
<!--hooves-->
<!--coffee bitter-->
<!--rebel-->
<!--buckle up-->
<!--stinks-->
<!--facetious-->
<!--premise
overalls
bonding
bond
buckled up
flipping
stink
-->
