.courses {
  padding: var(--basic-offset);

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    .course-card {
      height: 250px;
      color: white;
      font-size: 20px;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      border-radius: 20px;

      &__title {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        padding: 20px;
        background: rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-out;
      }

      &__image {
        height: 100%;
        border-radius: 20px;
        background-size: cover;
        transition: all 0.3s ease-out;
      }

      &:hover {
        .course-card {
          &__image {
            scale: 1.05;
          }

          &__title {
            background: rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
  }
}
