<div class="auth">
  <div class="auth-form" [formGroup]="signUpForm">
    <img
      class="logo"
      src="https://www.freeiconspng.com/thumbs/logo-design/logo-design-blank-circle-blue-and-orange-png-2.png"
      alt=""
    />

    <mat-form-field class="auth-form__field" appearance="outline">
      <mat-label>Name</mat-label>

      <input matInput type="text" formControlName="username" />

      <mat-error>
        <app-field-error formControlName="username"></app-field-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="auth-form__field" appearance="outline">
      <mat-label>Email</mat-label>

      <input matInput type="email" formControlName="email" />

      <mat-error>
        <app-field-error formControlName="email"></app-field-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="auth-form__field" appearance="outline">
      <mat-label>Password</mat-label>

      <div class="password-field">
        <input matInput [type]="isHiddenPassword ? 'password' : 'text'" formControlName="password" />

        <mat-icon
          class="hidden-icon"
          [class.active-link]="!isHiddenPassword"
          (click)="isHiddenPassword = !isHiddenPassword"
        >
          remove_red_eye
        </mat-icon>
      </div>

      <mat-error>
        <app-field-error formControlName="password"></app-field-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="auth-form__field" appearance="outline">
      <mat-label>Confirm Password</mat-label>

      <div class="password-field">
        <input matInput [type]="isHiddenConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" />

        <mat-icon
          class="hidden-icon"
          [class.active-link]="!isHiddenConfirmPassword"
          (click)="isHiddenConfirmPassword = !isHiddenConfirmPassword"
        >
          remove_red_eye
        </mat-icon>
      </div>

      <mat-error>
        <app-field-error formControlName="confirmPassword"></app-field-error>
      </mat-error>
    </mat-form-field>

    <mat-radio-group formControlName="role">
      <mat-radio-button *ngFor="let role of userRoles" [value]="role">{{ role | titlecase }}</mat-radio-button>
    </mat-radio-group>

    <button mat-raised-button class="auth-form__button" (click)="signUp()">Sign up</button>

    <p [routerLink]="['../login']">
      Already have an account?
      <a class="active-link">Login</a>
    </p>
  </div>

  <div class="auth-background"></div>
</div>
