@import 'src/styles/variables';
@import 'src/styles/scrollbar';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--secondary);
  }
}

.h-100 {
  height: 100%;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.flex-columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.overflow {
  overflow: auto;
}

.title {
  margin-bottom: 32px;
}

.icon-wrapper {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.mat-mdc-form-field-error {
  margin-top: 5px;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: var(--primary, transparent) !important;
}
